<body>
  
<a href="https://google.com">
<img src="http://www.trademarkia.com/logo-images/kantar-retail-america/shopcomm-77694521.jpg" BORDER="0" width="200" height="60" alt="Shop at ShopComm">
</A>

<h3>
Welcome to ShopComm ! 
</h3>

<select name="cars">
  <option value="Site Administration">Site Administration</option>
  <option value="Vendor Administration">Vendor Administration</option>
  <option value="Vendor Manager">Vendor Manager</option>
</select> 

<br><br>

<img src="http://www.imore.com/sites/imore.com/files/styles/large/public/topic_images/2014/topic_ipad_air_ipad_mini_0.png?itok=053pCsJ2height="300" width="300" alt="" />

<img src="http://store.storeimages.cdn-apple.com/4428/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone5c/selection/iphone5c-selection-hero-2013?wid=300&hei=300&fmt=png-alpha&qlt=95&.v=1410266073112height="300" width="300" alt="" />

<img src="http://www.imore.com/sites/imore.com/files/styles/large/public/topic_images/2014/topic_ipad_air_ipad_mini_0.png?itok=053pCsJ2height="300"" width="300" alt="" />

</body>

<% if false %> 
<h1>Listing homepages</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homepages.each do |homepage| %>
      <tr>
        <td><%= link_to 'Show', homepage %></td>
        <td><%= link_to 'Edit', edit_homepage_path(homepage) %></td>
        <td><%= link_to 'Destroy', homepage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Homepage', new_homepage_path %>
<% end %>
