<body>

<h1>Registration</h1>

<%= form_for('', url: {controller: :users, action: :new}) do %>
	<table>
		<% @userColumns.each do |userColumn| %>
			<tr>
				<td><%= userColumn %></td>
				
				<% if userColumn == 'password' %>
					<td><%= password_field_tag 'secret' %></td>
					<% next %>
				<% end %>

				<td><%= text_field_tag(userColumn)%></td>
			</tr>
		<% end %>

		<tr>
			<td><input type="submit" value="Sign Up"></td>
		</tr>
	</table>
<% end %>

</body>