<body>

<a href="https://google.com">
  <img src="http://www.trademarkia.com/logo-images/kantar-retail-america/shopcomm-77694521.jpg" BORDER="0" width="468" height="60" alt="Shop at ShopComm">
</a>

<h1>Registration</h1>
  
First name:<br>
<input type="text" name="First Name">
<br><br>
Last name:<br>
<input type="text" name="Last Name">
<br><br>
Email:<br>
<input type ="text" name="Email Address">
<br><br>
Phone number: <br>
<input type ="text" name="Phone Number">
<br><br>
Address:<br>
<input type ="text" name="Address">
<br><br>
Username:<br>
<input type ="text" name="Username">
<br><br>
Password:<br>
<input type ="text" name="Password">
<br><br>
Confirm Password: <br>
<input type ="text" name="Confirm Password">
<br><br>
<input type="submit" value="Confirm">
</form>

</body>

<!-- 
<h1>Listing registrations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td><%= link_to 'Show', registration %></td>
        <td><%= link_to 'Edit', edit_registration_path(registration) %></td>
        <td><%= link_to 'Destroy', registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registration', new_registration_path %>
 -->