<body>

<h1>Registration</h1>

<form>
	<table>
		<tr>
			<td>First name:</td>
			<td><input type="text" name="First Name"></td>
		</tr>
		<tr>
			<td>Last name:</td>
			<td><input type="text" name="Last Name"></td>
		</tr>
		<tr>
			<td>Email:</td>
			<td><input type ="text" name="Email Address"></td>
		</tr>
		<tr>
			<td>Username:</td>
			<td><input type ="text" name="Username"></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type ="text" name="Password"></td>
		</tr>
		<tr>
			<td>Confirm Password:</td>
			<td><input type ="text" name="Confirm Password"></td>
		</tr>
		<tr>
			<td><input type="submit" value="Sign Up"></td>
		</tr>
	</table>
</form>

</body>