<body>

<h1>Registration</h1>

<%= form_for('', url: {controller: :users, action: :create}) do %>
	<table>
		<% @user_columns.each do |user_column| %>
			<tr>
				<td><%= user_column %></td>
				
				<% if user_column == 'password' %>
					<td><%= password_field_tag 'secret' %></td>
					<% next %>
				<% end %>

				<td><%= text_field_tag(user_column)%></td>
			</tr>
		<% end %>

		<tr>
			<td><input type="submit" value="Sign Up"></td>
		</tr>
	</table>
<% end %>

</body>