<body> 

<a href="https://google.com">
  <img src="http://www.trademarkia.com/logo-images/kantar-retail-america/shopcomm-77694521.jpg" border="0" width="200" height="60" alt="Shop at ShopComm">
</a>
  
<h1>Purchase</h1>

<form>
  <h4>Shipping Address</h4>
  
  <label for="payment_method">Payment Method:</label><br>
  <input type="text" id="payment_method" name="payment_method">
  
  <label for="street">Street name:</label><br>
  <input type="text" id="street" name="street"><br>
  
  <label for="city">City:</label><br>
  <input type="text" id="city" name="city"><br>
  
  <label for="country">Country:</label><br>
  <input type="text" id="country" name="country"><br>
  
  <label for="postal_code">Postal Code:</label><br>
  <input type="text" id="postal_code" name="postal_code"><br><br> 
  <input type="submit" value="PROCEED">
</form>

</body> 

<% if false %>
<h1>Listing purchases</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= link_to 'Show', purchase %></td>
        <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
        <td><%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase', new_purchase_path %>
<% end %>