<body>

<h1>Purchase History</h1>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Product</th>
			<th>Date Purchased</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>12</td>
			<td>IPhone 6</td>
			<td>March 5, 2015</td>
			<td>View</td>
		</tr>
	</tbody>
</table>

</body>