<%# /views/purchase_history/index.html.erb %>

<body>

<h1>Purchase History</h1>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Product</th>
			<th>Date Purchased</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
		</tr>
	</tbody>
</table>

<p>This page will be up sometime in the future.</p>

</body>