<%= form_for(@administration) do |f| %>
  <% if @administration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@administration.errors.count, "error") %> prohibited this administration from being saved:</h2>

      <ul>
      <% @administration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
