<body>

<h1>Products</h1>

<form>
	<table>
	  	<tbody>
	  		<% @products.each do |product| %>
	  		<tr>
	  			<td><%= product.name %></td>
	  			<td><%= link_to "Show", product %></td>
	  		</tr>
	  		<% end %>
	  	</tbody>
	</table>

	<input type="submit" value="Order">
</form>

</body>
